---
import Switch from "./Switch.astro";
---

<div class="flex items-center gap-2">
    <p class="text-[0.78rem] text-gray-500 dark:text-gray-200">Dark mode</p>
    <Switch id="theme-toggle" />
</div>
<script>
    const toggleButton = document.getElementById("theme-toggle");
    toggleButton.addEventListener("click", (event) => {
        toggleButton.classList.toggle("active");
        document.documentElement.classList.toggle("dark");
    });
</script>
